{% extends "shop/base.html" %} {% block title %} Products {% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-sm">
        <form action="" method="get" class="card-body row no-gutters align-items-center">
          <div class="col">
            <input class="form-control form-control-borderless" placeholder="Search for products" type="search" name="product_name" />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    {% for product in products %}

    <div class="col-md-3">
      <div class="card">
        <div class="card-img-top">
          <img src="{{product.image}}" alt="" height="200" width="200" />
        </div>
        <div class="card-body">
          <div id="nm{{product.id}}" class="card-title">{{product.name}}</div>
          <div class="card-text">${{product.price}}</div>

          <a href="/{{product.id }}" class="btn btn-warning"> View</a>

          <button id="{{product.id}}" class="btn btn-warning atc">Add to cart</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <br />
  <div class="row">
    <div class="col-md-3 offset-md-4">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item active">
          <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
        </li>
        {% endif %} {% if page_obj.has_next %}

        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="?page={{ paginator.num_pages}}">Last</a>
        </li>
      </ul>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
